body{
    
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
        
}


.square{
    
    width: 30%;
    height: 30%;
    background: green;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.8s;
    -webkit-transition:background 0.8s;
    -moz-transition:background 0.8s;
}

#container{
    
    max-width: 400px;
    
    margin: 0 auto;
    
}

h1{
    
    color: white;
    font-weight: 400;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    
}

#colorDisplay{
    
     font-size: 200%;
     display: block;
}

span{
    
    color:white;
    
}

 

#stripe{
    
    background-color: white;
    height: 30px;
    text-align: center;
    
}

#stripe span {
    
    color:black;
    
}

.selected{
    
    color: white;
    background-color: steelblue;
    
}

button{
    border: none;
    background: none;
    height: 100%;
    font-weight: 800;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    text-transform: uppercase;
    transition: all 0.5s;
       -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
}

#message{
    
    display: inline-block;
    width: 20%;
    
}

button:hover{
    
    color: white;
    background-color: steelblue;
    
}